## Acquire and Prep

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from env import get_db_url

**SQL query to use for the MVP model**

In [4]:
query = """
SELECT 
bathroomcnt,
bedroomcnt,
calculatedfinishedsquarefeet,
fips,
taxvaluedollarcnt
FROM properties_2017
JOIN predictions_2017 AS pr USING(`parcelid`)
WHERE (transactiondate >= '2017-05-01' AND transactiondate <= '2017-06-30') AND
propertylandusetypeid = 261;"""

In [5]:
URL = get_db_url("zillow")

In [7]:
zillow = pd.read_sql(query, URL)

**Take a peek at the data**

In [8]:
zillow.sample(4)

,bathroomcnt,bedroomcnt,calculatedfinishedsquarefeet,fips,taxvaluedollarcnt
5363,1.0,3.0,1671.0,6037.0,85482.0
1246,1.0,2.0,806.0,6037.0,228431.0
7116,1.0,2.0,803.0,6059.0,1050783.0
13351,6.0,7.0,5359.0,6037.0,1690380.0

**Rename the columns**